body {
  background-color: #0e0e0e;
}
.home-page {
  height: 100vh;
  background-color: #212032;
}
header {
  height: 15vh;
}
.nav-link {
  color: white;
}
.bt-1 {
  border-radius: 20px;
  background-color: #ff6141;
  width: 100px;
}
.content-box-1 {
  height: calc(100vh - 15vh);
}
.img-box-1 {
  height: 50vh;
}
.text-box-1 {
  height: 50vh;
}
.soc {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: #ff6141;
  margin: 4px;
}
.resume {
  height: 100vh;
  background-color: #222337;
}

.i-box {
  height: 100px;
  width: 120px;
  background-color: #26264b;
  border-radius: 4px;
  margin: 7px;
}
.active-box {
  background-color: #ff6141;
}
.img-box-3 {
  height: 50vh;
}
.services {
  height: 100vh;
  background-color: #222337;
}
.ser-text-1 {
  height: 30vh;
  background-color: #252549;
}
.portfolio {
  height: 70vh;
  background-color: #222337;
}
.project-img {
  height: 40vh;
  background-color: aqua;
  background-image: url("project.jfif");
  background-size: cover;
}
.skills {
  height: 100vh;
  background-color: #222337;
}
.skill-box {
  height: 20vh;
  background-color: #26264b;
  background-image: url("css.png");
  background-size: contain;
}
.css {
  background-image: url("css.png");
  background-size: contain;
}
.plan {
  height: 100vh;
  background-color: #222337;
}
.pricing-box {
  height: 60vh;
  background-color: #252549;
  border-radius: 4px;
}

.pricing-box-2 {
  height: 64vh;
  background-color: #fe6347;
  border-radius: 4px;
}
.menu-box {
  width: 60px;
  height: 60px;
  background-color: #fe6347;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.faq {
  height: 100vh;
  background-color: #222337;
}
.question-1 {
  height: 12vh;
  background-color: #23254b;
}
.clients {
  height: 100vh;
  background-color: #222337;
}
.testimonial-container {
  width: 50%;
  max-width: 600px;
  padding: 20px;
  background-color: #252549;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  position: relative;
  color: white;
}

.testimonial-slider {
  position: relative;
  overflow: hidden;
}

.testimonial {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.testimonial.active {
  display: block;
  opacity: 1;
}

.testimonial p {
  font-size: 1.2em;
  color: white;
  margin-bottom: 10px;
}

.testimonial h3 {
  color: white;
  font-style: italic;
}

.navigation {
  margin-top: 20px;
}

.navigation button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: #0056b3;
}
.contact {
  height: 100vh;
  background-color: #222337;
}
.mail-box {
  background-image: url("mail.png");
  background-size: contain;
  background-position: center;
  height: 50vh;
  background-repeat: no-repeat;
}
input[type="email"] {
  background-color: #23254b;
  color: white;
  border-radius: 20px;
  border: none;
}
input[type="password"] {
  background-color: #23254b;
  color: white;
  border-radius: 20px;
  border: none;
}
input[type="text"] {
  background-color: #23254b;
  color: white;
  border-radius: 20px;
  border: none;
}
input[type="file"] {
  background-color: #23254b;
  color: white;
  border-radius: 20px;
  border: none;
}

input[type="email"]::placeholder {
  color: white;
  opacity: 1;
}
input[type="password"]::placeholder {
  color: white;
  opacity: 1;
}
input[type="text"]::placeholder {
  color: white;
  opacity: 1;
}
#floatingTextarea2::placeholder {
  color: white;
  opacity: 1;
}
.footer {
  height: 20vh;
  background-color: #222337;
}
